.col-md-6 {
    height: 200px;
    overflow: hidden;
    padding: 20px 10px;
}
/*@media (max-width: 768px) {
.flex-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}
}*/